<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
      <title>Readem (and weep)</title>
    </head>
    <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
</html>
